@use "../../utils/mixins/"as*;
@use "../../utils/functions/"as*;

.get-started {
  position: relative;
  padding-top: rem(72);
  padding-bottom: rem(78);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-white);

  &__inner {
    overflow: hidden;
    border-radius: var(--radius-main);
    padding: rem(73) 20px;
    width: 100%;
    background-image: url("../images/home/started-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__picture {
    position: absolute;
    top: 0;
    transform: translate(36%, 21px);
  }

  &__title {
    margin-bottom: 8px;
  }

  &__content {
    margin: 0 auto;
    width: 100%;
    max-width: 380px;
    transform: translateX(rem(90));
  }

  &__text {
    margin-bottom: rem(21);
  }

  &__link {
    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__btns {
    display: flex;
  }
}