@use "../../utils/mixins/"as*;
@use "../../utils/functions/"as*;

.get-started {
  position: relative;
  padding-top: rem(72);
  padding-bottom: rem(78);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-white);

  &__inner {
    overflow: hidden;
    border-radius: var(--radius-main);
    padding: rem(73) 20px;
    width: 100%;
    color: var(--color-white);
    background-image: url("../images/home/started-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include media(mobile-l) {
      padding-top: 250px;
      padding-bottom: 10px;
    }

    @include media(mobile-s) {
      padding-top: 200px;
      padding-bottom: 10px;
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    transform: translate(36%, 21px);

    @include media(tablet) {
      margin-right: 0;
      transform: translate(17%, 21px);
    }

    @include media(mobile-l) {
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 225px;
      transform: translate(0, 20px);
    }

    @include media(mobile-s) {
      max-width: 150px;
      transform: translate(0, 30px);
    }
  }

  &__title {
    margin-bottom: 8px;
    color: var(--color-white);
  }

  &__content {
    margin: 0 auto;
    width: 100%;
    max-width: 380px;
    transform: translateX(rem(90));

    @include media(desktop) {
      transform: translateX(rem(150));
    }

    @include media(tablet) {
      margin-right: 0;
      transform: translateX(0);
    }

    @include media(mobile-l) {
      margin-right: auto;
      text-align: center;
    }
  }

  &__text {
    margin-bottom: rem(21);
  }

  &__link {
    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__btns {
    display: flex;

    @include media(mobile-l) {
      justify-content: center;
    }
  }

  @include media(mobile-l) {
    padding-top: 100px;
  }

  @include media(mobile-s) {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}