@use "../../utils/mixins/"as*;
@use "../../utils/functions/"as*;

.instruments {
  background-color: var(--color-white);

  &__list {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--color-white);
    gap: rem(30);
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-main);
    padding: rem(24) rem(26) 22px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
    }

    &--forex {
      padding: rem(30) rem(37) 22px;

      &::before {
        background: var(--color-gradient-forex);
      }

      .instruments__icon {
        margin-bottom: rem(80);
      }
    }

    &--stocks {
      &::before {
        background: var(--color-gradient-stock);
      }

      .instruments__icon {
        margin-bottom: rem(85);
      }
    }

    &--crypto {
      padding: rem(20) rem(29);

      &::before {
        background: var(--color-gradient-crypto);
      }

      .instruments__icon {
        margin-bottom: rem(90);
      }
    }
  }

  &__icon {
    height: 72px;
    max-width: 72px;
  }

  &__item-title {
    position: relative;
    margin-bottom: rem(30);
    text-align: left;
    text-transform: capitalize;
    color: var(--color-white);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      width: 100%;
      height: 1px;
      max-width: 125px;
      background: var(--color-gradient-side);
    }

    &::after {
      @include font-size(35, 32);

      content: attr(data-text);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      font-weight: 900;
      -webkit-text-stroke: 1px var(--color-white);
      color: transparent;
      opacity: 0.3;
      transform: translate(9px, -16px);
    }
  }

  &__text {
    @include font-size(16, 26);
  }
}