@use "../../utils/mixins/"as*;
@use "../../utils/functions/"as*;

.start {
  display: flex;
  justify-content: space-between;
  padding-left: max(15px, calc((100% - var(--container-width)) / 2));
  color: var(--color-white);
  background-image: url("../images/home/start-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--color-dark-400);

  &__content {
    margin-right: rem(160);
    padding: rem(80) 0 rem(50);
    width: 100%;
    max-width: 395px;

    @include media(desktop) {
      margin-right: rem(100);
    }

    @include media(tablet) {
      margin-right: rem(70);
      padding: rem(40) 0;
    }

    @include media(mobile-l) {
      margin: 0 auto;
    }

    @include media(mobile-s) {
      max-width: 290px;
    }
  }

  &__title {
    text-align: left;
    color: inherit;

    span {
      display: block;
    }

    @include media(mobile-l) {
      @include font-size(20, 24);

      text-align: center;
    }
  }

  &__item-title {
    @include flex-v-center;

    min-height: 54px;
    text-align: left;
    color: inherit;
  }

  &__steps {
    padding-left: rem(64);

    @include media(mobile-s) {
      padding-left: rem(90);
    }
  }

  &__step {
    counter-increment: steps;
    position: relative;

    &::before {
      @include flex-all-center;
      @include font-size(25, 30);

      content: counter(steps);
      position: absolute;
      left: -64px;
      top: 7px;
      border-radius: 50%;
      width: 42px;
      height: 42px;
      font-weight: 900;
      background: var(--color-gradient-main);
    }

    &:not(:last-child) {
      margin-bottom: rem(41);

      &::after {
        content: "";
        position: absolute;
        left: -44px;
        bottom: -40px;
        width: 1px;
        height: 100%;
        max-height: 80px;
        background-color: var(--color-green-300);

        @include media(mobile-s) {
          bottom: -20px;
          max-height: 40px;
        }
      }
    }
  }

  &__picture {
    height: 100%;
    max-width: 960px;

    picture {
      height: 100%;
    }

    img {
      height: 100%;

      @include media(tablet) {
        object-position: 40%;
      }
    }

    @include media(mobile-l) {
      max-height: 350px;
      aspect-ratio: 16/9;
    }

    @include media(mobile-m) {
      max-height: 250px;
    }

    @include media(mobile-s) {
      max-height: 200px;
    }
  }

  @include media(mobile-l) {
    flex-direction: column-reverse;
    padding: 0;
  }
}