@use "../../utils/mixins/"as*;
@use "../../utils/functions/"as*;

.contact {
  &__list {
    @include flex-all-sb;

    margin: 0 auto rem(60);
    width: 100%;
    max-width: 900px;
  }

  &__item {
    position: relative;
    text-align: center;

    &:not(:last-child) {
      &::before {
        @include line-gradient;

        left: auto;
        right: rem(-190);
        bottom: 50%;
        transform: rotate(90deg);
      }
    }
  }

  &__icon {
    margin: 0 auto 9px;
  }

  &__item-title {
    margin-bottom: 5px;
  }

  &__link {
    text-decoration: underline;
  }
}