@use "../utils/mixins/"as*;
@use "../utils/functions/"as*;

.article {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-main);
  width: 100%;
  max-width: 350px;
  text-align: center;

  &__image {
    overflow: hidden;
    margin-bottom: 22px;
    border-radius: var(--radius-main);
  }

  &__title {
    position: relative;
    margin-bottom: rem(40);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      margin: 0 auto;
      width: 100%;
      height: 1px;
      max-width: 85px;
      background: var(--color-gradient-article);
    }
  }

  &__content {
    margin: 0 auto;
    width: 95%;
  }

  &__date {
    @include font-size(14, 16);

    position: absolute;
    left: 0;
    top: 0;
    border-radius: var(--radius-main);
    padding: 11px 18px;
    font-weight: 700;
    color: var(--color-white);
    background: linear-gradient(270deg, #1ba1e4 0%, rgba(234, 246, 252, 0) 145.54%);
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.02));
    backdrop-filter: blur(2px);
  }

  &__text {
    margin-bottom: 14px;
  }

  &__link {
    @include font-size(16, 19);

    font-weight: 700;
    letter-spacing: 0.05em;
    text-decoration: underline;
    color: var(--color-blue-400);
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: rem(30);

  &__box {
    article {
      overflow: hidden;
      border-radius: var(--radius-main);
      height: 100%;
      box-shadow: var(--shadow-ligth);
      background-color: var(--color-white);
    }

    img {
      box-shadow: none;
    }

    div {
      padding: 16px 26px;
    }

    h3 {
      @include font-size(16, 24);

      width: 100%;
      min-height: 49px;
      max-width: 300px;
      font-weight: 700;
    }

    p {
      @include font-size(12, 19);
    }
  }
}