@use "../utils/mixins"as*;
@use "../utils/functions/"as*;

.btn {
  @include font-size(18, 21);

  position: relative;
  display: block;
  border-width: 0;
  border-radius: var(--radius-btn);
  padding: clamp(10px, rem(21), 20px) clamp(10px, rem(18), 18px) clamp(10px, rem(18), 16px);
  width: 100%;
  height: fit-content;
  font-family: var(--font-family-secondary);
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-white);
  background: var(--color-gradient-main);

  &--color {
    @include color-gradient;

    &::before {
      @include border-gradient;
    }
  }

  &--fill {
    background: linear-gradient(180deg, #103d8f 0%, #0d2042 100%);
  }

  &--partnership {
    padding: rem(20) 10px;
    max-width: 255px;
  }
}

.action {
  @include flex;

  justify-content: center;
  padding: 17px 10px 20px;
  font-family: var(--font-family-secondary);

  &:not(:last-child) {
    margin-bottom: rem(30);
  }

  &__text {
    @include flex;

    flex-direction: column;
  }

  &__icon {
    margin-right: 12px;
    width: 30px;
    height: 30px;
  }

  span {
    &:first-of-type {
      @include font-size(16, 24);

      font-weight: 700;
    }

    &:last-of-type {
      @include font-size(10, 12);

      font-weight: 400;
      letter-spacing: -0.03em;
    }
  }
}