@use "../utils/mixins/"as*;
@use "../utils/functions/"as*;

.classification {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(20);

  &__item {
    @include flex;

    position: relative;
    overflow: hidden;
    border-radius: var(--radius-main);
    padding: 17px 5px 18px 14px;
    min-height: 131px;
    box-shadow: var(--shadow-ligth);
    background-color: var(--color-white);

    &--min {
      padding: 20px 30px 14px 14px;

      .classification {
        &__image {
          margin-top: 7px;

          @include media(mobile-l) {
            margin: 0;
          }
        }
      }
    }
  }

  &__title {
    position: relative;
    margin-bottom: 27px;
    text-transform: capitalize;

    &::before {
      @include line-gradient;

      left: 0;
      right: auto;
      bottom: -16px;
      max-width: 255px;
      background: var(--color-gradient-side);
    }

    @include media(mobile-l) {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      padding-left: 50px;
      min-height: 33px;
    }
  }

  &__image {
    margin-top: 15px;
    margin-right: 12px;
    width: 100%;
    height: 67px;
    max-width: 68px;
    object-fit: contain;

    @include media(mobile-l) {
      position: absolute;
      top: 15px;
      margin: 0;
      width: 40px;
      height: 40px;
    }
  }

  &__text {
    @include font-size(12, 19);

    letter-spacing: 0.042em;
  }

  @include media(tablet) {
    --classification-width: 330px;

    grid-template-columns: repeat(auto-fill, minmax(var(--classification-width), 1fr));
  }

  @include media(mobile-l) {
    --classification-width: 350px;
  }

  @include media(mobile-s) {
    --classification-width: 270px;
  }
}