@use "../utils/mixins/"as*;
@use "../utils/functions/"as*;

.dropdown {
  position: absolute;
  left: 50%;
  top: 110%;
  display: none;
  border-radius: var(--radius-main);
  padding: 15px 15px 0;
  width: 100%;
  min-width: 245px;
  box-shadow: var(--shadow-ligth);
  font-weight: 700;
  color: var(--color-dark-400);
  background-color: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition-property: opacity, visibility;
  transition-duration: 0.2s;

  &__item {
    margin-bottom: 10px;
  }

  &__action {
    position: relative;
    padding-top: 20px;

    &::after {
      @include line-gradient;

      top: 0;
      margin: 0 auto;
    }
  }

  &__btn {
    padding: 10px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @include media(tablet) {
    position: relative;
    top: 10px;
  }
}