@use "../utils/mixins/"as *;
@use "../utils/functions/"as *;

.logo {
  @include flex-v-center;

  width: 100%;
  max-width: 340px;
  transform: translateY(-2px);

  &__image {
    position: relative;
    margin-right: clamp(15px, rem(43), 43px);
    width: 100%;
    max-width: 160px;

    @include media(desktop-l) {
      margin-right: 25px;
    }
  }

  &__desc {
    @include flex;

    position: relative;
    flex-direction: column;
    text-transform: uppercase;
    transform: translateY(2px);

    &::before {
      content: "";
      position: absolute;
      left: -20px;
      bottom: 0;
      width: 2px;
      height: 100%;
      max-height: 37px;
      background: var(--color-gradient-main);

      @include media(desktop-l) {
        left: -12px;
      }

      @include media(desktop) {
        display: none;
      }
    }

    span {
      @include font-size(12, 18);

      letter-spacing: 0.04em;

      span {
        @include font-size(18, 18);
      }

      &:nth-child(2) {
        @include color-gradient;

        font-weight: 600;
      }
    }

    >span {
      color: var(--color-white);
    }

    @include media(desktop) {
      display: none;
    }

    @include media(mobile-s) {
      display: none;
    }
  }

  @include media(desktop) {
    width: auto;
    transform: translate(0);
  }
}