@use "../utils/mixins"as*;
@use "../utils/functions/"as*;

.nav {
  margin: 0 auto;
  padding-top: 4px;

  &__list {
    @include flex-all-sb;
  }

  &__item {
    &:not(:last-child) {
      margin-right: rem(70);
    }
  }

  &__link {
    @include font-size(18, 29);

    text-transform: capitalize;
  }
}