@use "../utils/mixins/"as *;
@use "../utils/functions/"as *;

.tabs-select {
  display: none;
  position: relative;
  border-radius: var(--radius-main);
  z-index: 0;
  box-shadow: var(--shadow-ligth);
  text-align: left;
  text-transform: capitalize;
  background-color: var(--color-white);

  &::before {
    @include gradient;

    border-radius: var(--radius-main);
    height: 100%;
    opacity: 0.3;
  }

  .label {
    @include font-size(16, 20);

    padding: 15px;
    overflow: hidden;
    padding-left: 35px;
    border-radius: var(--radius-main);
    justify-content: start;
    font-weight: 700;
    border-style: solid;
    border-width: 0 0 0 5px;
    border-color: var(--color-blue-400);
  }

  .selectric-items li {
    padding-left: 40px;

    &.selected:before {
      @include gradient;

      opacity: 0.3;
    }
  }

  @include media(tablet) {
    display: block;
  }
}