@use "../../utils/mixins/"as*;
@use "../../utils/functions/"as*;

.single {
  position: relative;
  padding: rem(87) 0 rem(100);
  background: var(--gradient-background);

  &__inner {
    @include flex-sb;

    @include media(mobile-l) {
      flex-direction: column-reverse;
    }
  }

  &__navigation {
    position: sticky;
    top: var(--header-height);
    margin-right: rem(30);
    width: 100%;
    height: fit-content;
    max-width: 255px;

    @include media(mobile-l) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 22px 0 0;
      max-width: none;
      gap: 20px;
    }

    @include media(mobile-s) {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }

  &__content {
    @include font-size(16, 26);

    width: 100%;
    max-width: 825px;

    >* {
      letter-spacing: 0.03em;

      &:not(:last-child, .content__list) {
        margin-bottom: rem(26);
      }
    }

    blockquote {
      display: grid;
      justify-items: end;
      overflow: hidden;
      border: 1px solid var(--color-blue-400);
      border-left-width: 5px;
      border-radius: 0 var(--radius-main) var(--radius-main) 0;
      padding: rem(24) rem(38) rem(19);
      font-weight: 700;
      background-color: var(--color-white);

      &.partnership-trading {
        align-items: center;
        grid-template-columns: 1.2fr 1fr;

        @include media(mobile-s) {
          justify-items: center;
          grid-template-columns: 1fr;
        }
      }

      .btn {
        @include media(mobile-s) {
          width: 100%;
          max-width: none;
        }
      }

      @include media(mobile-l) {
        padding: 15px;
      }

      @include media(mobile-s) {
        justify-items: center;
        grid-template-columns: 1fr;
      }
    }

    &--strategy.single__content {
      >p {
        margin-bottom: 15px;
      }

      h2 {
        margin-bottom: 18px;
        letter-spacing: 0;

        @include media(mobile-s) {
          margin-bottom: 15px;
        }
      }
    }

    &--out.single__content {
      h2 {
        margin-bottom: 8px;

        @include media(mobile-s) {
          margin-bottom: 15px;
        }
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    margin-bottom: rem(35);
    padding-top: 3px;
    gap: rem(30);

    @include media(tablet) {
      gap: rem(20);
    }
  }

  img:not(.investment__icon) {
    overflow: hidden;
    border-radius: var(--radius-main);
  }

  &--bottom {
    padding-bottom: rem(78);
  }

  @include media(tablet) {
    padding: rem(60) 0;
  }

  @include media(mobile-m) {
    padding: rem(40) 0;
  }
}