@use "../../utils/mixins/"as*;
@use "../../utils/functions/"as*;

.strengths {
  margin-bottom: rem(23);

  &__title {
    @include font-size(24, 28);

    margin-bottom: 15px;
    text-align: left;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: rem(30);

    @include media(tablet) {
      gap: rem(20);
    }
  }

  &__item {
    counter-increment: strengths;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-main);
    padding: 17px;
    background-color: var(--color-white);

    &::before {
      @include color-gradient;
      @include font-size(85, 100);

      content: counter(strengths, decimal-leading-zero);
      position: absolute;
      top: 50%;
      font-family: var(--font-family-secondary);
      font-weight: 900;
      letter-spacing: 0.5px;
      background: url("../images/list-counter/manager.png"), linear-gradient(180deg, #80d0c8 0%, #0596e8 100%);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
      background-clip: text;
      transform: translateY(-50%);

      @include media(tablet) {
        @include font-size(60, 60);
      }

      @include media(mobile-l) {
        @include font-size(45, 45);
      }
    }

    &--manager {
      &::before {
        background-image: url("../images/list-counter/manager.png"), linear-gradient(180deg, #80d0c8 0%, #0596e8 100%);
      }
    }

    &--traders {
      &::before {
        background-image: url("../images/list-counter/traders.png"), linear-gradient(180deg, #80d0c8 0%, #0596e8 100%);
      }
    }

    &--support {
      &::before {
        background-image: url("../images/list-counter/support.png"), linear-gradient(180deg, #80d0c8 0%, #0596e8 100%);
      }
    }

    &--respect {
      &::before {
        background-image: url("../images/list-counter/respect.png"), linear-gradient(180deg, #80d0c8 0%, #0596e8 100%);
      }
    }
  }

  &__item-title {
    position: relative;
    margin-bottom: 25px;
    text-align: left;

    &::before {
      @include line-gradient;

      bottom: -13px;
      background: var(--color-gradient-side);
    }
  }

  &__content {
    margin-left: auto;
    padding-left: rem(120);
    width: 100%;

    @include media(tablet) {
      padding-left: rem(90);
    }
  }

  &__text {
    @include font-size(12, 19);
  }
}