@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.page {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.032em;
  color: var(--color-dark-400);
  background: var(--gradient-background);
  scroll-padding-top: var(--header-height, 100px);

  &__body {
    min-width: 320px;
    min-height: 100%;
  }

  &--menu {
    .header.hide {
      transform: translate(0);
    }

    .nav {
      transform: translate(0);
    }

    .burger {
      transform: rotateY(180deg);

      &__close {
        opacity: 1;
      }
    }
  }

  @include media(mobile-m) {
    @include font-size(12, 19);
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);

  &--wide {
    max-width: var(--container-wide);
  }
}

.main {
  @include footerToBottom;
}

.section {
  padding: rem(82) 0 rem(92);
}