@use "../utils/mixins"as*;
@use "../utils/functions/"as*;

h1 {
  text-align: center;
}

.title {
  @include font-size(65, 78);

  font-family: var(--font-family-secondary);
  font-weight: 900;

  span {
    @include color-gradient;

    display: inline-block;
  }

  &--secondary {
    @include font-size(45, 54);

    margin-bottom: rem(27);
    letter-spacing: 0.01em;
    color: var(--color-dark-400);
  }

  &--main {
    @include font-size(20, 32);

    font-weight: 700;
    color: var(--color-dark-400);
  }

  &--middle {
    @include font-size(24, 28);
  }

  &--small {
    @include font-size(16, 16);

    font-weight: 700;
    color: var(--color-dark-400);
  }
}