@use "../utils/mixins/"as*;
@use "../utils/functions/"as*;

.sign {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  padding: 0 15px;
  padding-top: var(--header-height);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__form {
    position: relative;
    z-index: 1;
    overflow-x: clip;
    overflow-y: auto;
    margin: rem(30) auto;
    border-radius: var(--radius-main);
    padding: rem(37) rem(20);
    width: 100%;
    height: fit-content;
    max-width: 456px;
    max-height: -webkit-fill-available;
    box-shadow: var(--shadow-ligth);
    text-align: center;
    background-color: var(--color-white);
  }

  .form {
    margin-bottom: rem(25);

    &__title {
      @include font-size(35, 42);
      @include color-gradient;

      margin-bottom: 15px;

      @include media(mobile-sm) {
        @include font-size(30, 35);
      }
    }

    &__label {
      margin-bottom: rem(18);

      &.checkbox {
        border: none;
        padding: 0;
      }
    }
  }
}

.sign-links {
  @include font-size(18, 29);

  letter-spacing: -0.03em;

  a {
    text-decoration: underline;
  }

  p {
    @include media(mobile-sm) {
      display: grid;
    }
  }

  &--registration {
    @include font-size(16, 29);

    p {
      @include media(mobile-s) {
        display: grid;
      }
    }
  }
}