<ul class="classification">
  <li class="classification__item">
    <img class="classification__image" src="./icons/clock.svg" width="67" height="67" alt="Web code" loading="lazy">

    <div class="classification__content">
      <h3 class="classification__title title title--small">
        By the time trading
      </h3>

      <ul class="check-list">
        <include src="./html/components/_check-list.html">
          {
          "text":"Short-term strategy. In this case the closed position during the trading day, and sometimes for
          several
          seconds"
          }
        </include>

        <include src="./html/components/_check-list.html">
          {
          "text":"Medium-term strategy — the position in this case, the ability to hold up to several days, weeks"
          }
        </include>

        <include src="./html/components/_check-list.html">
          {
          "text":"Long-term strategy — the position of «lives» from a week to several months"
          }
        </include>
      </ul>
    </div>
  </li>

  <li class="classification__item">
    <img class="classification__image" src="./icons/cloud.svg" width="67" height="67" alt="Web code" loading="lazy">

    <div class="classification__content">
      <h3 class="classification__title title title--small">
        According to the degree of risk
      </h3>

      <ul class="check-list">
        <include src="./html/components/_check-list.html">
          {
          "text":"Conservative (trading strategies with minimal risk)"
          }
        </include>

        <include src="./html/components/_check-list.html">
          {
          "text":"Moderate"
          }
        </include>

        <include src="./html/components/_check-list.html">
          {
          "text":"Aggressive"
          }
        </include>
      </ul>
    </div>
  </li>

  <li class="classification__item">
    <img class="classification__image" src="./icons/window-code.svg" width="67" height="67" alt="Web code"
      loading="lazy">

    <div class="classification__content">
      <h3 class="classification__title title title--small">
        By way of trading
      </h3>

      <ul class="check-list">
        <include src="./html/components/_check-list.html">
          {
          "text":"Manual and"
          }
        </include>

        <include src="./html/components/_check-list.html">
          {
          "text":"Semi-automatic (the trader uses scripts, combining the possibility of automated trading to manual
          trading)"
          }
        </include>

        <include src="./html/components/_check-list.html">
          {
          "text":"Automatic (all trade assumes Advisor robot)"
          }
        </include>
      </ul>
    </div>
  </li>
</ul>