<a class="action action--live btn" href="#">
  <img class="action__icon" src="./icons/check.svg" width="30" height="30" alt="check icon" loading="lazy">

  <div class="action__text">
    <span>Live account</span>
    <span>Open a trading account</span>
  </div>
</a>

<a class="action action--demo btn btn--fill" href="#">
  <img class="action__icon" src="./icons/demo.svg" width="30" height="30" alt="demo icon" loading="lazy">

  <div class="action__text">
    <span>Demo account</span>
    <span>Try a demo account</span>
  </div>
</a>