<li class="content__item member">
  <div class="member__main">

    <picture>
      <source srcset="./images/members/{{image}}?as=webp" type="image/webp">
      <img class="member__image" src="./images/members/{{image}}" width="57" height="57" alt="Photo of {{name}}"
        loading="lazy">
    </picture>

    <div class="member__name">
      <h3 class="member__title title title--main">
        {{name}}
      </h3>

      <span class="member__position">
        {{position}}
      </span>
    </div>

  </div>

  <p class="member__desc text">
    {{text}}
  </p>
</li>